<div class="container">
  <div class="row" >
    <div class="col" style="height: 66px;border: 1px solid black; display: table">
      <div class="wrap">
        <p class="content">1 of 22222222222222222222222222222222222222222222222222222222222222</p>
      </div>
    </div>
    <div class="col" style="height: 66px;border: 1px solid black; display: table">
      <div class="wrap">
        <p class="content">1 of 2222222222222222</p>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col" style="height: 66px;border: 1px solid black; width: 20%">
      1 of 3
    </div>
    <div class="col" style="height: 66px;border: 1px solid black; width: 60%">
      2 of 3
    </div>
    <div class="col" style="height: 66px;border: 1px solid black; width: 20%">
      3 of 3
    </div>
  </div>
</div>
