$leftbar-width: 50px;

body {
  margin: 0;
}

.cus-header {
  min-height: 4rem;
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 1002;

  background-color: lightseagreen;
}

.cus-leftbar {
  height: calc(100vh - 4rem);
  width: $leftbar-width;

  position: fixed;
  top: 4rem;
  z-index: 1001;

  background-color: lightcoral;

  transition-property: all;
	transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  &:hover {
    width: 220px;
  }
}

.cus-container {
  height: calc(100vh - 4rem);
  width: calc(100% - 50px);

  position: fixed;
  top: 4rem;
  left: 50px;

  background-color: lightgrey;

  overflow-y: auto;
}
